#wurlivid {
    position: sticky;
    width: 100%;
    object-fit: cover;
    bottom: 0;
    right:0;
    margin-bottom: 100px;
}

.toptext {
    opacity: 0;
    transition: 0.8s;
}

.toptext.visible {
    opacity: 1;
}

.rttext {
    text-align: center;
    position: relative;
}

h2. {
    margin-left: 100px;
    padding: 5px;
}

li {
    margin-bottom: 50px;
}

.listmapcontainer {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}