#wurlivid {
    position: sticky;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    bottom: 0;
    right:0;
}

.rttext {
    text-align: center;
    position: relative;
}

h2 {
    margin-left: 100px;
    padding: 5px;
}

li {
    margin-left: 90px;
    margin-bottom: 50px;
}

.li1 {
    position: sticky;
    top: 100px;
}

.li2 {
    position: sticky;
    top: 200px;
}